/* Colors ------------

brown: #66483d
blue: #4c988c
gold: #f7b52d
white: #fde3aa
orange: #f38321
burnt: #f16635

Colors*/

/*.awardBox*/

body{
  background-color: #fde3aa;
}

.awardBox{
  position: absolute;
  top: 180px;
  overflow: scroll;
  height: 500px;
}

.awardText{
  display: table-cell;
  vertical-align: middle;
  color: #66483d;
}

.award{
  display: table;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #f38321;
  text-align: center;
  margin: 10px;
  float: left;
}

.awardBoxAll{
  
}

#search_location{
  border-radius: 10px;
  border-color: #66483d;
  color: #66483d;
  background-color: #FFFEE1;
  font-size: 15px;
  border-style: solid;
  width: 55%;
  height: 40px;
}

.locationList{
  position: absolute;
  z-index: 1;
  top: 160px;
}

.locationContainer{
  border-radius: 5px;
  margin-left: 169px;
  overflow: scroll;
  height: 500px;
  width: 52%;
  background-color: #fde3aa;
  border: 1px solid gray;
}

.locationBox{
  min-height: 50px;
  border: 1px solid gray;
  margin: 1px;
  margin-top: 2px;
  border-radius: 3px;
  text-align: center;
  background-color: #4c988c;
}

/*.navbar .navbar-inverse{
}*/

.navbar{
  background-color: #f38321;
}

.nav-brand-text{
  color: #66483d;
  font-size: 35px;
  text-decoration: none !important;
}

#login{
  background-color: #f16635;
  margin-left: 2%;
  margin-bottom: 2%;
}

#run_search_location{
  background-color: #4c988c;
  margin-left: 2%;
}
