/* Colors ------------

brown: #66483d
blue: #4c988c
gold: #f7b52d
white: #fde3aa
orange: #f38321
burnt: #f16635

Colors*/

/*.awardBox*/

body{
  background-color: #fde3aa;
}

.instructionMsg{
  position: relative;
  top: 30px;
  left: 40px;
}

.postedMsg{
  position: relative;
  left: 10px;
}

.awardBox{
  position: absolute;
  overflow: scroll;
  height: 500px;
}

.awardText{
  display: table-cell;
  vertical-align: middle;
  color: #66483d;
  text-align: center;
}

.award{
  display: table;
  width: 110px;
  height: 110px;
  border-radius: 50%;
  background-color: #f38321;
  margin: 10px;
  float: left;
  padding: 5px;
  border: solid #66483d 1px;
}

.awardBoxAll{
  overflow: scroll;
  height: 500px;
}

.locationList{
  position: absolute;
  z-index: 1;
  width: 85%;
}


.locationContainer{
  border-radius: 5px;
  overflow: scroll;
  height: 500px;
  background-color: #fde3aa;
  border: 1px solid gray;
}

.locationText{
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.locationBox{
  display: table;
  width: 100%;
  min-height: 50px;
  border: 1px solid gray;
  margin: 1px;
  margin-top: 2px;
  border-radius: 3px;
  text-align: center;
  background-color: #4c988c;
}

.navbar{
  background-color: #f38321;
}


.nav-brand-text{
  color: #66483d;
  font-size: 35px;
  text-decoration: none !important;
}

.nav-brand-text:hover{
  color: #f16635;
}

.nav-link-text{
  margin-top: 10px;
  margin-left: 8px;
  float: right;
  color: #66483d;
  font-size: 20px;
  text-decoration: none !important;
}

.nav-link-text:hover{
  color: #f16635;
}

#login{
  background-color: #f16635;
  margin-left: 2%;
  margin-bottom: 2%;
}

#run_search_location{
  background-color: #4c988c;
}

#search_location{
  border-radius: 10px;
  border-color: #66483d;
  color: #66483d;
  background-color: #FFFEE1;
  font-size: 15px;
  border-style: solid;
  width: 100%;
  height: 40px;
}
